* {
    /*font-family : à modifier;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: none;
    text-decoration: none;
}
body {
	margin: 0;
  width: 100%;
  height: 100%;
	background: linear-gradient(-50deg, #F0BBB4 25%, #F4BCAC 32%, #FFBE98 64%);
	animation: gradient 5s ease infinite;
}

.row-horssidebar {
  display: flex;
  flex-direction: column;
}

.fond {
  display: flex;
  margin: 1em;
  max-height: fit-content;
  border-radius: 15px;
  background-color: #ffffff31;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
  flex-grow: 1; /* Prendre tout l'espace restant */
}

.fond-page {
  display: flex;
  margin: 1em;
  max-height: fit-content;
  border-radius: 15px;
  background-color: #ffffff31;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
  flex-grow: 1;
  min-height: 41.5em;
}

navbar {
  display: flex;
  width: 250px;
  flex-direction: column;
  padding: 1em;
  background-color: #F7E9DE;
  gap: 1.5em;
  border-radius: 15px;
  min-height: 100%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
}
navbar .logo .texte-logo {
  display: flex;
  justify-content: center;
  background-color: #F15F61;
  color: #F0BBB4;
  padding: 0.2em;
  border-radius: 15px;
}
navbar a {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border-radius: 15px;
    color: #F15F61;
    font-weight: 800;
}
navbar a:hover {
  color: #F15F61;
  background-color: #F0BBB4;
  fill: #F15F61 !important;
}
navbar .pages a svg {
  width: 1.5em;
  margin-right: 1em;
  fill: #F15F61;
}
navbar .active svg {
  fill: #F0BBB4 !important;
}
navbar .active {
  background-color: #F15F61;
  color: #F0BBB4;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
}
navbar .footer-navbar {
  display: flex;
  margin-top: auto;
  gap: 1em;
}
navbar .footer-navbar svg {
  width: 1.5em;
  fill: #F15F61;
}
navbar .profil img {
    width: 2.5em;
}
navbar .logout {
  cursor: pointer;
}
navbar .fermer-sidebar {
  display: flex;
  margin-left: auto;
}

.zone-horssidebar {
  display: flex;
    justify-content: space-between; /* Espace entre les colonnes */
    align-items: flex-start; /* Aligne les éléments en haut */
}

.zone-horssidebar h2{
  color: #F15F61;
  margin: 1em;
}
.liste-depliant {
  padding: 0;
}
.depliant-titre {
  background-color: #F15F61;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.depliant-titre:hover {
  background-color: #e84649; /* Couleur de fond au survol */
  color: #F7E9DE;
}

.depliant-contenu {
  display: none; /* Cache le contenu par défaut */
  padding: 10px;
}

.depliant-contenu p {
  margin: 0;
  color: #F15F61;
}

.zone-horssidebar .statistiques {
  margin: 1em;
}
.zone-horssidebar .col {
  flex: 1; /* Chaque colonne occupe un espace égal */
}
ul {
  display: flexbox;
  list-style-type: none; /* Enlève les puces par défaut */
  padding-inline-start: 0;
}
ul li {
  padding: 1em;
  margin: 1em;
  background-color: #F4BCAC;
  border-radius: 15px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
}
ul li::before {
  content: "\2605"; /* Code Unicode pour une étoile */
  color: #F15F61; /* Couleur de l'étoile */
  font-size: 20px; /* Taille de l'étoile */
}
ul li .deadline {
  font-style: italic;
}

.progress-bar-container {
  width: 100%;
  background-color: #F7E9DE;
  border-radius: 5px;
  overflow: hidden;
  height: 0.5em;
  margin: 0.5em 0 0 0;
}
.progress-bar {
  width: 50%;
  height: 100%;
  background-color: #F15F61;
  text-align: center;
  line-height: 30px;
  color: white;
}
.text-sousprogress {
  font-size: 10px;
}


.zone-calendrier {
  background-color: #F7E9DE;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  flex: 0 0 auto; /* Ne pas étendre la largeur de cette colonne */
  margin-left: auto; /* Pousse la colonne vers la droite */
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
}
.ajouter-tache {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.7em;
  background-color: #F15F61;
  border-radius: 15px;
  margin-left: auto;
  margin-bottom: 1em;
}
.ajouter-tache svg {
  width: 1em;
  fill: #F0BBB4;
}
.calendar {
  margin: 0.2em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2em;
  gap: 1.5em;
}
.header button {
  border-radius: 15px;
  padding: 0.7em;
}
.calendar-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}
.month-year {
  font-weight: 700;
}
.calendar-table th, .calendar-table td {
  padding: 0.5em;
  text-align: center;
}
.calendar-table td.current-day {
  background-color: #F15F61;
  color: #F0BBB4;
  font-weight: 700;
  border-radius: 15px;
}
button {
  padding: 5px;
  background-color: #F15F61;
  color: #F0BBB4;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px !important;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
}
button:hover {
  background-color: #F0BBB4;
  color: #F15F61;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: none;
}
::-webkit-scrollbar-thumb:hover {
  background: none;
}