.row {
    display: flex;
    margin: 1.5em;
}

.zone-cards-taches {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5em;
}
.card {
    background-color: #F7E9DE;
    border-radius: 15px;
}
.card-content {
    padding-top: 0 !important;
    padding: 2em;
    color: #F15F61;
    font-size: 0.8em;
}
.card-title p {
    color: #F15F61;
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;
}

.logo-ajouter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.card-ajouter svg {
    width: 50px;
    height: 50px;
}


.modifier-taches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dropbtn svg {
    width: 1.5em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F7E9DE;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #F15F61;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {
    background-color: #F0BBB4;
    border-radius: 15px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    border-radius: 15px;
}

.progress-container {
    width: 100%;
    display: flex;
    background-color: #F0BBB4;
    border-radius: 15px;
    height: 15px;
    margin-top: 2em;
}
.progress-bar {
    height: 100%;
    width: 50%; /* Progression actuelle : 50% */
    background-color: #F15F61;
    text-align: center;
    color: white;
    border-radius: 25px 0 0 25px;
}
.progress-percent {
    width: 30%;
    color: #F0BBB4;
    font-weight: 500;
    text-align: center;
    white-space: nowrap; /* Empêche le retour à la ligne */
}
.progress-percent p {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.258);
}
  
.modal-content {
    background-color: #F7E9DE;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    color: #F15F61;
    font-size: 1em;
    font-weight: 600;
}
.modal-content h3 {
    text-align: center;
}
.modal-content .form-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 0.5em;
    background-color: #F0BBB4;
    border-radius: 15px;
}
.modal-content input {
    background-color: #F7E9DE;
    border: 2px solid #F15F61;
    border-radius: 15px;
    color: #F15F61;
    padding: 1em;
}
::placeholder {
    color: #F15F61;
}
.modal-content .submit-button {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
.modal-content .submit-button button {
    padding: 1em 2em 1em 2em;
    border-radius: 15px;
    font-weight: 800;
}
.modal-content .close {
    color: #F0BBB4;
    float: right;
    font-size: 2em;
    font-weight: bold;
}
.modal-content .close:hover,
.modal-content .close:focus {
    color: #F15F61;
    text-decoration: none;
    cursor: pointer;
}


.taskContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 0.5em;
    background-color: #F0BBB4;
    border-radius: 15px;
}

.collapsible {
    background-color: #ffffff2c;
    border-radius: 15px;
    color: #F15F61;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    margin-bottom: 5px;
}

.collapsible.active, .collapsible:hover {
    background-color: #ffffff51;
    color: #F7E9DE;
}

/* Style for the content section inside the collapsible */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
}

.addTaskContainer h4 {
    text-align: center;
}
.addTaskForm {
    display: flex;
    gap: 1em;
    margin: 1em;
    padding: 0.5em;
    background-color: #F0BBB4;
    border-radius: 15px;
}
.addTaskForm button {
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 15px;
}